[submodule "sr_ncnn_vulkan_python/sr-ncnn-vulkan/src/libwebp"]
	path = sr_ncnn_vulkan_python/sr-ncnn-vulkan/src/libwebp
	url = https://github.com/webmproject/libwebp.git
[submodule "sr_ncnn_vulkan_python/sr-ncnn-vulkan/src/ncnn/src/python/pybind11"]
	path = sr_ncnn_vulkan_python/sr-ncnn-vulkan/src/ncnn/src/python/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "sr_ncnn_vulkan_python/sr-ncnn-vulkan/src/ncnn/glslang"]
	path = sr_ncnn_vulkan_python/sr-ncnn-vulkan/src/ncnn/glslang
	url = https://github.com/KhronosGroup/glslang.git
