[submodule "realsr_ncnn_vulkan_python/realsr-ncnn-vulkan/src/ncnn/src/glslang"]
	path = realsr_ncnn_vulkan_python/realsr-ncnn-vulkan/src/ncnn/src/glslang
	url = https://github.com/KhronosGroup/glslang
[submodule "realsr_ncnn_vulkan_python/realsr-ncnn-vulkan/src/libwebp"]
	path = realsr_ncnn_vulkan_python/realsr-ncnn-vulkan/src/libwebp
	url = https://github.com/webmproject/libwebp.git
[submodule "realsr_ncnn_vulkan_python/realsr-ncnn-vulkan/src/ncnn/src/python/pybind11"]
	path = realsr_ncnn_vulkan_python/realsr-ncnn-vulkan/src/ncnn/src/python/pybind11
	url = https://github.com/pybind/pybind11.git
